<title><%=etitle %></title>

<% layout('boilerplate') %>

<body style="background-color: #fafafa;">
<script type="text/javascript">

    function getVals(){
        // Get slider values
        var parent = this.parentNode;
        var slides = parent.getElementsByTagName("input");
        var slide1 = parseFloat( slides[0].value );
        var slide2 = parseFloat( slides[1].value );
        // Neither slider will clip the other, so make sure we determine which is larger
        if( slide1 > slide2 ){ var tmp = slide2; slide2 = slide1; slide1 = tmp; }

        var displayElement = parent.getElementsByClassName("rangeValues")[0];
        displayElement.innerHTML = " " + slide1 + "NIS - " + slide2 + "NIS";
    }

    window.onload = function(){
        // Initialize Sliders
        var sliderSections = document.getElementsByClassName("range-slider");

        for( var x = 0; x < sliderSections.length; x++ ){
            var sliders = sliderSections[x].getElementsByTagName("input");
            for( var y = 0; y < sliders.length; y++ ){
                if( sliders[y].type ==="range" ){
                    sliders[y].oninput = getVals;
                    // Manually trigger event first time to display values
                    sliders[y].oninput();
                }
            }
        }
        var sliderSections = document.getElementsByClassName("range-slider-age");
        for( var x = 0; x < sliderSections.length; x++ ){
            var sliders = sliderSections[x].getElementsByTagName("input");
            for( var y = 0; y < sliders.length; y++ ){
                if( sliders[y].type ==="range" ){
                    sliders[y].oninput = getValAge;
                    // Manually trigger event first time to display values
                    sliders[y].oninput();
                }
            }
        }
    }
    function getValAge(){
        // Get slider values
        var parent = this.parentNode;
        var slides = parent.getElementsByTagName("input");
        var slide1 = parseFloat( slides[0].value );
        // Neither slider will clip the other, so make sure we determine which is larger
        var displayElement = parent.getElementsByClassName("rangeValuesAge")[0];
        displayElement.innerHTML = " " + slide1 ;
    }


    function ValidationAppForm()
    {
        var gender=document.getElementsByName("gender");
        var hobbies=document.getElementsByName("hobbies");

        var okayGender=false;
        var okayHobbies=false;
        for(var i=0,l=gender.length;i<l;i++)
        {
            if(gender[i].checked)
            {
                okayGender=true;
                break;
            }
        }
        for(var j=0,l=hobbies.length;j<l;j++)
        {
            if(hobbies[j].checked)
            {
                okayHobbies=true;
                break;
            }
        }
        if(!okayHobbies)
        {
            alert("hobbies please!");
            return false;
        }
        if(!okayGender)
        {
            alert("gender please");
            return false;
        }

        //    if (okayGender&&okayHobbies) return true;

    }


</script>

<!--<body style="background-color: #fafafa;">-->

<img src="/img/red.jpg" style="width:120%; margin-top: -.5% ">
<div style="margin-top:81px; text-align:center;background-color: #fafafa;">

    <form style="background-color: #fafafa;margin-top:6%" name="AppForm" method="post" action="/searchingResult" >
        <!--<div class="header-content">-->
        <!--<div class="header-content-inner">-->
        <!--<h1 id="homeHeading">   </h1>-->
        <h1 id="homeHeading">LET'S FIND THE BEST</h1>
        <hr>
        <p>Now please choose according to your friend </p>
        <!--</div>-->
        <!--</div>-->

        <div class="form-group" >
            <div id="gender" class="Info"><h4>Choose gender:</h4>
                <div style="margin: 0 auto;display: table;" class="inline-items">
                    <i class="fa fa-mars" aria-hidden="true"style="    color: #cf484f;"></i>
                    <input type="radio" id="male" name="gender" value="male"><span>Male    </span>
                    <i class="fa fa-venus" aria-hidden="true" style="    color: #cf484f;"></i>

                    <input type="radio" id="female" name="gender" value="female"><span>Female    </span>
                    <i class="fa fa-venus-mars" aria-hidden="true"style="    color: #cf484f;"></i>

                    <input type="radio" id="b" name="gender" value="b"><span>Dosen't Metter    </span>
                </div>
            </div>
            <hr >
            <div id="Choose price" class="Info">
                <h4>Choose price limits:</h4>
                <!--min: <input type="text" name="minPricText"><br>-->

                <!--max: <input type="text" name="maxPricText"><br>-->

                <div class="range-slider"  Sdata-role="rangeslider" >
                    <label for="price-min" >Low Price:</label>
                    <input oninput="getVals()" style="width:40%; margin-left: 30%"type="range" name="minPrice" id="minPrice" value="20" min="0" max="1000">
                    <label for="price-max">High Price:</label>
                    <input oninput="getVals()" style="width:40%; margin-left: 30%" type="range" name="maxPrice" id="maxPrice" value="580" min="0" max="8000">
                    <br>
                    <span class="rangeValues"></span>
                </div>
            </div>
            <hr>
            <div id="age" class="Info">
                <h4>Choose age:</h4>

                <div class="range-slider-age" data-role="rangeslider">

                    <label for="age" >age:</label>
                    <input oninput="getValAge()"style="width:40%; margin-left: 30%" type="range" name="age" id="age" value="2" min="2" max="130">
                    <br>
                    <span class="rangeValuesAge"></span>
                </div>
                <!--<input type="checkbox" name="age_0_12" value = '1'/>0 - 12<br />-->
                <!--<input type="checkbox" name="age_12_18" value = '1'/>12 - 18<br />-->
                <!--<input type="checkbox" name="age_18_30" value = '1'/>18 - 30<br />-->
                <!--<input type="text" name="ageText"><br>-->
            </div>
            <hr>
            <div id="hobbis" class="Info">
                <h4>Choose hobbis:</h4>
                <% for(var i=0; i<orders.length; i++) {%>
                <tr>
                    <td></td>
                    <input type="checkbox" value = <%= orders[i].interest.toString() %> name="hobbies"/>  <%= orders[i].interest %><br />
                </tr>
                <% } %>


            </div>
            <hr>

            <br>
            <!--<div id="Search" class="Info">
            <input type="button" name="submit" value="Let's Find It" onclick="findApresent()"   class="btn btn-success"	/><br />
            </div>-->
        </div>

        <!--<input type="submit" value="Send" name="submit">-->
        <input class="btn btn-primary btn-xl page-scroll"type="submit" value = 'GO GO GO ' name="submit"onclick="return ValidationAppForm()">

    </form>


</div>
<!--</body>-->