
<title><%=etitle %></title>

<% layout('boilerplate') %>
<h1>giftsPage</h1>


<script type="text/javascript">
    var MainInterets=new Array (4);

    // when page is ready
    $(document).ready(function() {
        // on form submit
        $("#form").submit(function() {

            // to each unchecked checkbox
            $(this + 'input[type=checkbox]:not(:checked)').each(function () {
                // set value 0 and check it
                $(this).attr('checked', true).val(0);
                // $('input[name=gender][value=3]').attr('checked', true);
                var gender = document.querySelector('input[name = "gender"]:checked').value;
                $("#gender").val(gender);
//                $(this + 'input[type=radio]:not(:checked)').each(function () {
//                    // set value 0 and check it
//                    $(this).attr('checked', true).val(0);

                var ageTextBox = $("#ageText_range").val();
                $("#age").val(ageTextRange);
                var minPriceRange = $("#price_min_range").val();
                $("#minPrice").val(minPriceRange);
                var maxPriceRange = $("#price_max_range").val();
                $("#maxPrice").val(maxPriceRange);
            });



        })
    })

</script>
<!-- -->

<form name="AppForm" method="post" action="/searchingResult" >
    <div class="form-group" >
        <div id="gender"  class="Info">
            <h4>Choose gender:</h4>
            <input type="radio" id="male" name="gender" value = 'male'/>Male <br />
            <input type="radio" id="female" name="gender" value = 'female'/>Female  <br />
            <input type="radio" id="b" name="gender" value = 'b'/>Dosen't Metter <br />
        </div>
        <div id="Choose price" class="Info">
            <h4>Choose price:</h4>
            <!--min: <input type="text" name="minPricText"><br>-->

            <!--max: <input type="text" name="maxPricText"><br>-->

            <div data-role="rangeslider">
                <label for="price-min">Price:</label>
                <input type="range" name="minPrice" id="minPrice" value="50" min="0" max="1000">
                <label for="price-max">Price:</label>
                <input type="range" name="maxPrice" id="maxPrice" value="800" min="0" max="1000">
            </div>
        </div>
        <div id="age" class="Info">
            <h4>Choose age:</h4>

            <div data-role="rangeslider">
                <label for="age">age:</label>
                <input type="range" name="age" id="age" value="2" min="2" max="130">

            </div>
            <!--<input type="checkbox" name="age_0_12" value = '1'/>0 - 12<br />-->
            <!--<input type="checkbox" name="age_12_18" value = '1'/>12 - 18<br />-->
            <!--<input type="checkbox" name="age_18_30" value = '1'/>18 - 30<br />-->
            <!--<input type="text" name="ageText"><br>-->
        </div>
        <div id="hobbis" class="Info">
            <h4>Choose hobbis:</h4>
            <% for(var i=0; i<orders.length; i++) {%>
            <tr>
                <td></td>
                <input type="checkbox" value = <%= orders[i].interest.toString() %> name="hobbies"/>  <%= orders[i].interest %><br />
            </tr>
            <% } %>


        </div>


        <br>
        <!--<div id="Search" class="Info">
        <input type="button" name="submit" value="Let's Find It" onclick="findApresent()"   class="btn btn-success"	/><br />
        </div>-->
    </div>


    <input type="submit" value = 'Save Changes' />

</form>



