<title>GIFTER</title>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <i class="fa fa-4x fa fa-gift text-primary sr-icons"></i>
            <a class="navbar-brand page-scroll" href="/">Gifter</a>
            <a id="logged_in_username_text_field" class="navbar-brand page-scroll" href="/"></a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li id="search_gifts">
                    <a class="page-scroll" href="/searchingOpt">Search Gifts</a>
                </li>
                <li id="wishlists_label">
                    <a class="page-scroll" href="/#wishlists">Wishlists</a>
                </li>
                <li>
                    <a id="login_button" class="page-scroll" href="#" onclick="document.getElementById('id01').style.display='block'">Log In</a>
                </li>
                <li>
                    <a id="logout_button" class="page-scroll" href="/users/logout">Logout</a>
                </li>
                <li id="shopping_cart">
                    <a  class="page-scroll "  href="/shoppingCart/shopping-cart/">Shopping Cart
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <i id="cartQty"><%=CartQty%></i>
                        <!--<span id="cartQty" class="badge"> <//%=CartQty%/></span>-->
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <li>
                    <a class="page-scroll" >Azrieli Tel-Aviv</a>
                </li>
                <li>
                    <img class="page-scroll" src="http://res.cloudinary.com/gifter-mta/image/upload/v1504199358/azrieli1_e9iequ.png"  width="42" height="42">
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
    <%include userLogin.ejs%>

    <script>
        var loggedInUser = <%- JSON.stringify(LogedInUser) %>;
        if(loggedInUser == ""){
            //show login button, hide logout button:
            document.getElementById("logout_button").style.display="none";
            document.getElementById("login_button").style.display="block";

            // define user as guest:
            document.getElementById("logged_in_username_text_field").textContent = "Guest";

        }else{
            document.getElementById("logged_in_username_text_field").textContent = loggedInUser.name;
            //show logout button, hide login button:
            document.getElementById("logout_button").style.display="block";
            document.getElementById("login_button").style.display="none";

            var userRole = loggedInUser.role;
            switch(userRole){
                case "mall_manager":
                case "store_manager":
                    //hide shopping chart:
                    document.getElementById("shopping_cart").style.display="none";

                    //hide search gifts:
                    document.getElementById("search_gifts").style.display="none";

                    //hide about:
                    document.getElementById("wishlists_label").style.display="none";
                    break;

                default:
                    break;
            }
        }
/*        console.log(loggedInUser.email);
        var username = document.getElementById("logged_in_username_text_field").textContent;
        console.log('Loged in user is:' + username);
        if(username == "guest"){
            document.getElementById("logout_button").style.display="none";
            document.getElementById("login_button").style.display="block";
        }else{
            document.getElementById("logout_button").style.display="block";
            document.getElementById("login_button").style.display="none";
        }*/
    </script>
</nav>

