
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>My Welcome Email Template Subject</title>
    <!-- <style> -->
</head>
<body>
<span class="preheader"></span>
<table class="body">
    <tr>
        <td class="center" align="center" valign="top">
            <center data-parsed="">

                <table align="center" class="container header float-center"><tbody><tr><td>
                            <table class="row"><tbody><tr>
                                    <th class="small-12 large-12 columns first last"><table><tr><th>
                                                    <h1 class="text-center">HELLO  {{guest}}!</h1>
                                                    <h1 class="text-center">{{hostUser}} invites you to {{etitle}}</h1>
                                                    <h1 class="text-center">{{hostUser}} created a wishlist.</h1>
                                                    <h2 class="text-center">about the event:</h2>
                                                    <h2 class="text-center">{{description}}</h2>
                                                    <h2 class="text-center">event time and date: {{event_date}}</h2>



                                                </th>
                                                <th class="expander"></th></tr></table></th>
                                </tr></tbody></table>
                        </td></tr></tbody></table>

                <table align="center" class="container body-border float-center"><tbody><tr><td>
                            <table class="row"><tbody><tr>
                                    <th class="small-12 large-12 columns first last"><table><tr><th>

                                                    <table class="spacer"><tbody><tr><td height="32px" style="font-size:32px;line-height:32px;">&#xA0;</td></tr></tbody></table>

                                                    <center data-parsed="">
                                                        <img src="http://res.cloudinary.com/gifter-mta/image/upload/v1504103038/gifter_logo_pkcxip.jpg" align="center" class="float-center">
                                                    </center>

                                                    <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table>


                                                    <h4>at gifter you will find {{hostUser}} wishlist</h4>
                                                    <p> a list of present you can buy according to your budget and {{hostUser}} desires  </p>
                                                    <center data-parsed="">
                                                        <table align="center" class="menu float-center"><tr><td><table><tr>
                                                                            <th class="menu-item float-center"><a href="https://sadna-gifter.herokuapp.com/">go to GIFTER</a></th></tr>
                                                                            <tr><th class="menu-item float-center"><a href="https://sadna-gifter.herokuapp.com/wishlist/myFriendsEvents">go to {{hostUser}} wishlist</a></th>
                                                                        </tr></table></td></tr></table>
                                                    </center>


                                                </th>
                                                <th class="expander"></th></tr></table></th>
                                </tr></tbody></table>

                            <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table>
                        </td></tr></tbody></table>

            </center>
        </td>
    </tr>
</table>
<!-- prevent Gmail on iOS font size manipulation -->
<div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
</body>
</html>

