
<% layout('boilerplate') %>

<style>

</style>

<header>


	<div class="header-content">
		<div class="header-content-inner">
			<h1 id="homeHeading">   </h1>
			<!--sa-->
			<h1 id="homeHeading" style="margin-top:81px">Your Favorite Gifts Source</h1>
			<hr>
			<p>Gifter can help you find the best gift To your loved ones!<br>Just tell us what their hobbies are</p>

			<a href="/searchingOpt" class="btn btn-primary btn-xl page-scroll">Let's find A gift</a>
			<!--<form name="AppForm" action='/searchingOpt'  method="get" >-->
			<!--<div class="form-group" >-->
			<!--<input type="submit" class="btn btn-primary btn-xl page-scroll" value="Let's find A gift">-->
			<!--</div>-->
			<!--</form>-->

		</div>
	</div>
</header>

<section class="bg-primary" id="about">
	<div class="container">
		<div class="row">
			<div id="mySidenav" class="sidenav " style="background-color: #067c8d;">
				<!--<a href="#" id="about">About</a><br>-->
				<a href="/wishlist/myEvents" id="myEventsSidenav">My WishLists</a><br><br><br>
				<a href="/wishlist/myFriendsEvents" id="myFriendsEventsSidenav">My Friends WishLists</a><br>
				<!--<a href="#" id="contact">Contact</a>-->
			<!--needed to be here./ push because needed to check in mobile</div>-->
				<div class="col-lg-8 col-lg-offset-2 text-center">
					<h2 class="section-heading">Throwing a party?</h2>
					<hr class="light">
					<p class="text-faded">Gifter hleps you create a gifts wishlist<br> that your friends can see and buy the right gift for you..</p>
					<!--<a href="/wishlist" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>-->
				</div>
			</div>
		</div>
	</div>
</section>

<aside class="bg-dark">
	<div class="container text-center">
		<div class="call-to-action">
			<h3 >GIFTER has a management interface for mall management and stores</h3>

			<h3 class="section-heading">Shop owner?</h3>
			<p class="text-faded">Login with the credentials supplied to you by  the mall management ..<br>
				If you don't have any, contact them and they will register you.</p>
			<hr class="light">
			<h3 class="section-heading">Mall management?</h3>
			<p class="text-faded">Want your mall to be registered to the GIFTER service?<br>
				Contact us at  sadna.gifter@gmail.com </p>



		</div>
	</div>
</aside>
<%include storeLogin.ejs%>
