<% layout('boilerplate') %>
<div class="jumbotron">
    <div class="container text-center">
        <h1 style="color: #067c8d">Mall Stores</h1>
        <h4>A list of all the stores inside the mall</h4>

    </div>
</div>
<body style="background-color: #fafafa;">

<div class="container">
    <div class="row">


        <h1></h1>
        <p>.</p>
        <p> </p><p> </p>

        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Store List</h3>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <button type="button" onclick="toggleCreateNewStorePopupVisibility(true)" class="btn btn-sm btn-primary btn-create">Create A New Store</button>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <form method="get" action="/mallManager">
                                <button type="submit" class="btn btn-sm btn-primary btn-create"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
                            </form>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <form method="post" action="/mallManager/importCSV" enctype="multipart/form-data">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <input type="file" id="fileInput" style="display:none;" onchange="this.form.submit()" name="csv_file" />
                                    <button type="button" class="btn btn-default btn-file" data-provides="fileinput" onclick="document.getElementById('fileInput').click();"><i class="fa fa-upload" aria-hidden="true"></i>Import Stores From CSV</button>
                                </div>
                            </form>
                        </div>
                    </div>
<!--
                    <input type="text" id="searchInput" onkeyup="searchStores()" placeholder="Search for stores..." title="Type in a name" >
-->
                </div>
                <div class="panel-body">
                    <table id="stores_table" class="table table-striped table-bordered" style="table-layout:fixed">
                        <thead>
                        <tr>
                            <!--<th><em class="fa fa-cog" align="center"></em></th>-->
                            <th></th>
                            <th class="hidden-xs">Store ID</th>
                            <th class="hidden-xs">Store Logo</th>
                            <th>Store Name</th>
                            <th>Floor No.</th>
                            <th>Store No.</th>
                            <th>To Promote?</th>

                        </tr>
                        </thead>
                        <tbody id="stores_table_body">
                        <!--                        <tr>
                                                    <td align="center">
                                                        <a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                                                        <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                                                    </td>
                                                    <td class="hidden-xs">1</td>
                                                    <td>John Doe</td>
                                                    <td>johndoe@example.com</td>
                                                </tr>-->
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


<script>

    window.onload = loadStores();

    window.onclick = function(event) {
        if (event.target == document.getElementById('popup_create_new_store')) {
            toggleCreateNewStorePopupVisibility(false);
        }

        if (event.target == document.getElementById('popup_edit_store')) {
            toggleEditStorePopupVisibility(false);
        }
    }

    function  loadStores() {
        var table = '';
        var av_stores = <%- JSON.stringify(available_stores) %>;
        var rowsNumber = av_stores.length;
        for(var r = 0; r < rowsNumber; r++)
        {
            var isPromoted = av_stores[r].is_promoted ? 'Yes': 'No';
            table+= '<tr id="row-' + r + '">';

            table+= '<td align="center">';
            table+= '<button id="edit_button" type="button" onclick="showEditStorePopup(' + r + ')" class="btn btn-default"><em class="fa fa-pencil"></em></button>';
            table+= '<button id="delete_button" type="button" onclick="deleteStore(' + r + ')" class="btn btn-danger"><em class="fa fa-trash"></em></button>';
            table+= '</td>';
            table+= '<td class="hidden-xs" id="store_id_field">' + av_stores[r].store_id + '</td>';
            table+= '<td class="hidden-xs" id="store_img_url_field"><img src="' + av_stores[r].store_image_url + '" alt="" style="width:130px; height:auto;"></img</td>';
            table+= '<td id="store_name_field">' + av_stores[r].name + '</td>';
            table+= '<td id="store_location_floor_field">' + av_stores[r].location.floor + '</td>';
            table+= '<td id="store_location_index_field">' + av_stores[r].location.index + '</td>';
            table+= '<td id="store_is_promoted">' + isPromoted + '</td>';

            table+= '</tr>';
        }
        var tbody = document.getElementById("stores_table_body");
        tbody.innerHTML = table;
    }
</script>

<script type="text/javascript" >
    function deleteStore(rowNum)
    {
        var rowElement = document.getElementById("row-" + rowNum);
        var storeName = rowElement.getElementsByTagName("td")[3].textContent;

        var isDeletionConfirmed = showDeleteConfirmationDialog(storeName);
        if(isDeletionConfirmed){
            post('/mallManager/deleteStore', {store_name: storeName});
        }
    }

    function showDeleteConfirmationDialog(storeName){
        var x = confirm("Are you sure you want to delete the store: " + storeName + "?");
        if (x)
            return true;
        else
            return false;
    }

    function post(path, params, method) {
        method = method || "post"; // Set method to post by default if not specified.

// The rest of this code assumes you are not using a library.
// It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
            if(params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }
</script>

<script type="text/javascript">
    $(document).ready(function() {
        var table = $('#stores_table').DataTable( {
            "columns": [
                { "width": "13%" },
                { "width": "10%" },
                { "width": "18%" },
                null,
                { "width": "10%" },
                { "width": "10%" },
                { "width": "10%" }
            ]
        } );
    } );
</script>

<!--------------------------------------------------------Create New Store Popup--------------------------------------------------------------->

<div id="popup_create_new_store" class="modal">
    <div class="modal-content animate" >
        <div class="imgcontainer">
            <span onclick="toggleCreateNewStorePopupVisibility(false)" class="close" title="Close Popup">&times;</span>
            <img class="img-circle" src="img/gifter.jpg" alt="Create New Store" class="avatar">
        </div>
        <form name="singnupForm" class="form-horizontal" method="post" action="/mallManager/createNewStore" >
            <!--onsubmit="return validationUserInput()"-->

            <div class="form-group">
                <label for="name" class="cols-sm-2 control-label" >Store Name</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="store_name" id="store_name"  placeholder="Enter your Name"required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">Store Email</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="store_manager_email" id="store_manager_email"  placeholder="Enter your Email"required/>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">Store Username</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="store_manager_username" id="store_manager_username"  placeholder="Enter store Username"required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="cols-sm-2 control-label">Password</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="store_manager_password" id="store_manager_password"  placeholder="Enter your Password"required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">Store ID</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="store_id" id="store_id"  placeholder="Enter store id as given grom Manager"required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">Store Logo</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="store_img_url" id="store_img_url"  placeholder="Enter store image URL address"required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">Location: Floor No.</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="store_location_floor" id="store_location_floor"  placeholder="Enter store's floor inside the mall"required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">Location: Store No.</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="store_location_index" id="store_location_index"  placeholder="Enter store index in the floor inside the mall"required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">Location: Store Location inside the Map (Image)</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="store_location_img_url" id="store_location_img_url"  placeholder="Enter an image URL address of the store location inside the mall"required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">Promote (Yes\No)</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <label style="font-size: 15px;text-align: center; text-indent: 10px;">
                            <input type="checkbox" class="form-control" name="store_is_promoted" id="store_is_promoted" style="width: 40px;height: 40px;padding: 0;margin:0;" >
                            </input>
                            Do you want to promote this store?
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group ">
                <button type="submit" onclick="toggleCreateNewStorePopupVisibility(false);" class="btn btn-primary btn-lg btn-block login-button" >Add New Store</button>
            </div>
        </form>
    </div>
</div>

<script>
    function toggleCreateNewStorePopupVisibility(isToShowPopup) {
        var popupCreateNewStore = document.getElementById('popup_create_new_store');
        if(isToShowPopup){
            popupCreateNewStore.style.display = "block";
        }else{
            popupCreateNewStore.style.display = "none";
        }
    }
</script>

<!--------------------------------------------------------Edit Store Popup--------------------------------------------------------------->

<div id="popup_edit_store" class="modal">
    <div class="modal-content animate" >
        <div class="imgcontainer">
            <span onclick="toggleEditStorePopupVisibility(false)" class="close" title="Close Popup">&times;</span>
            <img class="img-circle" src="img/gifter.jpg" alt="Edit Store" class="avatar">
        </div>
        <form name="singnupForm" class="form-horizontal" method="post" action="/mallManager/editStore" >
            <!--onsubmit="return validationUserInput()"-->

            <div class="form-group" id="edit_store_popup_store_id_form-group">
                <label for="username" class="cols-sm-2 control-label">Store ID</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="store_id" id="edit_store_popup_store_id"  placeholder="Enter store id as given grom Manager"required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">Store Logo</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="store_img_url" id="edit_store_popup_store_img_url"  placeholder="Enter store image URL address"required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">Location: Floor No.</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="store_location_floor" id="edit_store_popup_store_location_floor"  placeholder="Enter store's floor inside the mall"required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">Location: Store No.</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="store_location_index" id="edit_store_popup_store_location_index"  placeholder="Enter store index in the floor inside the mall"required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">Location: Store Location inside the Map (Image)</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="store_location_img_url" id="edit_store_popup_store_location_img_url"  placeholder="Enter an image URL address of the store location inside the mall"required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">Promote (Yes\No)</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <label style="font-size: 15px;text-align: center; text-indent: 10px;">
                            <input type="checkbox" class="form-control" name="store_is_promoted" id="edit_store_popup_store_is_promoted" style="width: 40px;height: 40px;padding: 0;margin:0;" >
                            </input>
                            Do you want to promote this store?
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group ">
                <button type="submit" onclick="toggleEditStorePopupVisibility(false);" class="btn btn-primary btn-lg btn-block login-button" >Save Store</button>
            </div>
        </form>
    </div>
</div>

<script>
    function showEditStorePopup(storeIndex) {
        var av_stores = <%- JSON.stringify(available_stores) %>;
        var selectedStore = av_stores[storeIndex];

        //Update Store Image URL:
        var selectedStoreImageURL = selectedStore.store_image_url;
        document.getElementById("edit_store_popup_store_img_url").value = selectedStoreImageURL;

        //Update Store Location Floor:
        var selectedStoreLocationFloor = selectedStore.location.floor;
        document.getElementById("edit_store_popup_store_location_floor").value = selectedStoreLocationFloor;

        //Update Store Location Index in floor:
        var selectedStoreLocationIndex = selectedStore.location.index;
        document.getElementById("edit_store_popup_store_location_index").value = selectedStoreLocationIndex;

        //Update Store Location Image URL:
        var selectedStoreLocationImageURL = selectedStore.location.img_url;
        document.getElementById("edit_store_popup_store_location_img_url").value = selectedStoreLocationImageURL;

        //Update Store ID:
        var selectedStoreID = selectedStore.store_id;
        document.getElementById("edit_store_popup_store_id").value = selectedStoreID;
        document.getElementById("edit_store_popup_store_id_form-group").style.display="none";

        //Update Store IsPromoted:
        var selectedStoreIsPromoted = selectedStore.is_promoted;
        if(selectedStoreIsPromoted){
            document.getElementById("edit_store_popup_store_is_promoted").checked = true;
        }else{
            document.getElementById("edit_store_popup_store_is_promoted").checked = false;
        }

        //Show Edit popup:
        toggleEditStorePopupVisibility(true);
    }


    function toggleEditStorePopupVisibility(isToShowPopup) {
        var popupCreateNewStore = document.getElementById('popup_edit_store');
        if(isToShowPopup){
            popupCreateNewStore.style.display = "block";
        }else{
            popupCreateNewStore.style.display = "none";
        }
    }
</script>


<!--<script type="text/javascript">
    function searchStores() {
        var input, filter, storesTableBodyElement, trs, tdStoreName, i,table;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        storesTableBodyElement = document.getElementById("stores_table_body");
        table = document.getElementById("stores_table");
        trs = storesTableBodyElement.getElementsByTagName("tr");
        for (i = 0; i < trs.length; i++) {
            tdStoreName = trs[i].getElementsByTagName("td")[2].textContent;
            console.log(tdStoreName);
            if (tdStoreName.toUpperCase().indexOf(filter) > -1) {
                trs[i].style.display = "";
            } else {
                trs[i].style.display = "none";
            }
        }
    }
</script>-->