
<title><%=etitle %></title>


<% layout('boilerplate') %>
<div class="jumbotron">
    <div class="container text-center">
        <h1 style="color: #067c8d">Adding Gift</h1>
        <h4>Please fill the following details <br> And add a newgift to your store</h4>

    </div>
</div>
<body style="background-color: #fafafa;">




<div style="margin-top:81px; text-align:center;">

    <script type="text/javascript">
        function ValidationAppForm()
        {
            var gender=document.getElementsByName("gender");
            var hobbies=document.getElementsByName("hobbies");
            var storeName=document.Form.storeName;
            var storeId=document.Form.storeId;
            var giftName=document.Form.giftName;
            var giftId=document.Form.giftId;
            var maxAge=document.Form.maxAge;
            var minAge=document.Form.minAge;
            var price=document.Form.price;

            var okayGender=false;
            var okayHobbies=false;
            if (storeName.value=="")
            {
                alert("store name  please");
                document.Form.storeName.focus() ;
                return false;
            }
            if (isNaN(storeId.value)||storeId.value=="")
            {
                alert("store id please - must be a number");
                document.Form.storeId.focus() ;
                return false;
            }

            if (giftName.value=="")
            {
                alert("gift name  please");
                document.Form.giftName.focus() ;
                return false;
            }

            if (isNaN(giftId.value)||(giftId.value==""))
            {
                alert("prod id  please - must be a number");
                document.Form.giftId.focus() ;
                return false;
            }


            if (isNaN(maxAge.value)||isNaN(minAge.value)||minAge.value==""||maxAge.value=="")
            {
                alert("enter ages please - must be a number");
                document.Form.minAge.focus() ;
                document.Form.maxAge.focus() ;
                return false;
            }
            if(maxAge.value<=0||minAge.value<=0)
            {
                alert("age is positive numbers, fix it")
                document.Form.minAge.focus() ;
                document.Form.maxAge.focus() ;
                return false;
            }
            if (maxAge.value<minAge.value)
            {
                alert("max age mase be bigger then min age");
                document.Form.minAge.focus() ;
                document.Form.maxAge.focus() ;
                return false;
            }
            if(isNaN(price.value)||price.value=="")
            {
                alert("price must be number");
                document.Form.price.focus() ;
                return false;
            }

            for(var j=0,l=hobbies.length;j<l;j++)
            {
                if(hobbies[j].checked)
                {
                    okayHobbies=true;
                    break;
                }
            }
            for(var i=0,l=gender.length;i<l;i++)
            {
                if(gender[i].checked)
                {
                    okayGender=true;
                    break;
                }
            }
            if(!okayHobbies)
            {
                alert("hobbies please!");
                return false;
            }
            if(!okayGender)
            {
                alert("gender please");
                return false;
            }

        }

    </script>

    <form name="Form" method="post" action="/stores/addGift" >
        <div class="form-group" style="width: 60%;margin-left: 18%" >
            <div id="store_name" class="Info">
                <h4>Enter store information:</h4>
                <!--<label class="col-sm-3"style="margin:12px; ">Title: </label>-->
                <!--<input class="form-control"type="text" name="eventTitle" id="eventTitle" value=""required><br>-->

                <label> store name: </label>
                <input type="text" name="storeName" id="storeName" value=""><br>
                <label style="margin-left: 2.5%">  store  id: </label>
                <input class="form-control" type="text" name="storeId" id="storeId" ><br>
            </div>
            <hr>
            <div id="gift_name" class="Info">
                <h4>Enter gift information:</h4>
                <label>gift name: </label>
                <input class="form-control"type="text" name="giftName" id="giftName" ><br>
                <label>product id: </label>
                <input class="form-control"type="text" name="giftId" id="giftId" ><br>
            </div>
            <hr>
            <div id="gender"  class="Info">
                <h4>Choose gender:</h4>
                <input type="radio" id="male" name="gender" value = 'male'/>Male <br />
                <input type="radio" id="female" name="gender" value = 'female'/>Female  <br />
                <input type="radio" id="b" name="gender" value = 'b'/>Dosen't Metter <br />
            </div>
            <hr>
            <div id="Choose price" class="Info">
                <h4>Enter age:</h4>
                <div data-role="rangeslider">
                    <label for="price-min"> min age: </label>
                    <input class="form-control"type="text" name="minAge" id="minAge" ><br>
                    <label for="price-max">max age: </label>
                    <input class="form-control"type="text" name="maxAge" id="maxAge" ><br>
                </div>
            </div>
            <hr>
            <div id="Price" class="Info">
                <h4>Enter price:</h4>

                <label >price: </label>
                <input class="form-control"type="text" name="price" id="price" ><br>
            </div>
            <hr>
            <div id="hobbis" class="Info">
                <h4>Choose relevant interests for the gift:</h4>
                <% for(var i=0; i<orders.length; i++) {%>
                <tr>
                    <td></td>
                    <input type="checkbox" value = <%= orders[i].interest.toString() %> name="hobbies"/>  <%= orders[i].interest %><br />
                </tr>

                <% } %>
                <br>

            </div>
            <br>
        </div>


        <input class="btn btn-primary btn-xl page-scroll" type="submit" value = 'Save Changes' name="submit" style="margin-right: 5%" onclick="return ValidationAppForm()"/>

    </form>


</div>
</body>
