<% layout('boilerplate') %>

<div class="container">
    <div class="row">

        <p></p>
        <h1>Store Manager</h1>
        <p>A list of all the gifts in the store.</p>
        <p> </p><p> </p>

        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Gifts List</h3>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <button type="button" onclick="toggleAddNewGiftPopupVisibility(true)" class="btn btn-sm btn-primary btn-create">Add New Gift</button>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <form method="get" action="/mallManager">
                                <button type="submit" class="btn btn-sm btn-primary btn-create"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
                            </form>
                        </div>
                    </div>
                    <input type="text" id="searchInput" onkeyup="searchGifts()" placeholder="Search for stores.." title="Type in a name" >
                </div>
                <div class="panel-body" style="margin: auto">

                    <div class="container" style="display: inline;">
                        <div id="gifts_container_row" class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    window.onload = loadGifts();

    function loadGifts() {
        var content = '';
        var av_gifts = <%- JSON.stringify(available_gifts) %>;
        var giftsNumber = av_gifts.length;
        for(var i = 0; i < giftsNumber; i++)
        {
            content+='<div id="row-' + i + '" class="col-sm-12 col-xs-12 col-md-4 col-lg-3" style="display: inline-block;">';
            content+=   '<div class="thumbnail bootsnipp-thumb">';
            content+=       '<div style="display: inline">';
            content+=           '<p class="lead snipp-title" >';
            content+=               '<h3 style="vertical-align: top">' + av_gifts[i].name + '</h3>';
            content+=           '</p>';
            content+=       '</div>';
            content+=   '<div style="overflow:hidden;height:150px;margin-left: auto;margin-right: auto;">';
            content+=       '<a style="height:100%;width:100%;margin-left: auto;margin-right: auto;">';
            content+=           '<img src="' + av_gifts[i].ImageUrl + '">';
            content+=       '</a>';
            content+=   '</div>';
            content+=   '<div>';
            content+=       '<p class="lead snipp-title">';
            content+=           '<h4>Price: ' + av_gifts[i].price + ' </h4>';
            content+=       '</p>';
            content+=   '</div>';
            content+=   '<div class="row" style="display: inline;margin-left: auto;margin-right: auto;">';
            content+=        '<a href="#" class="btn btn-primary a-btn-slide-text">';
            content+=           '<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>';
            content+=           '<span>Edit</span>';
            content+=        '</a>';
            content+=        '<span>  </span>';
            content+=        '<a href="#" class="btn btn-primary a-btn-slide-text" onclick="deleteGift(' + i + ')">';
            content+=           '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>';
            content+=           '<span>Delete</span>';
            content+=        '</a>';
            content+=   '</div>';
            content+='</div>';
            content+='</div>';
        }

        var gifts_container_row = document.getElementById("gifts_container_row");
        gifts_container_row.innerHTML = content;
    }
</script>

<script type="text/javascript" >
    function deleteGift(rowNum)
    {
        var rowElement = document.getElementById("row-" + rowNum);
        var storeName = rowElement.getElementsByTagName("td")[2].textContent;
        var isDeletionConfirmed = showDeleteConfirmationDialog(storeName);
        if(isDeletionConfirmed){
            post('/mallManager/deleteGift', {store_name: storeName});
        }
    }
</script>

<script type="text/javascript" >
    function showDeleteConfirmationDialog(giftName){
        var x = confirm("Are you sure you want to delete the gift: " + giftName + "?");
        if (x)
            return true;
        else
            return false;
    }
</script>

<script type="text/javascript" >
    function editGift(rowNum)
    {
        var rowElement = document.getElementById("row-" + rowNum);
        var storeName = rowElement.getElementsByTagName("td")[2].textContent;
        alert("editGift  store: " + storeName + " number: " + rowNum + "!");
    }
</script>

<script type="text/javascript" >
    function post(path, params, method) {
        method = method || "post"; // Set method to post by default if not specified.

// The rest of this code assumes you are not using a library.
// It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
            if(params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }
</script>

<script type="text/javascript">
    function searchGifts() {
        var input, filter, giftsContinerElement, divs, giftName, i,table;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        divs = document.getElementsByClassName("col-sm-12 col-xs-12 col-md-4 col-lg-3");
        console.log(divs);
        for (i = 0; i < divs.length; i++) {
            giftName = divs[i].getElementsByTagName("h3").textContent || divs[i].getElementsByTagName("h3").innerText;
            console.log(divs[i].getElementsByTagName("h3"));
            if (giftName.toUpperCase().indexOf(filter) > -1) {
                divs[i].style.display = "";
            } else {
                divs[i].style.display = "none";
            }
        }
    }
</script>

<!--------------------------------------------------------Add New Gift Popup--------------------------------------------------------------->

<div id="popup_create_new_store" class="modal">
    <div class="modal-content animate" >
        <div class="imgcontainer">
            <span onclick="toggleAddNewGiftPopupVisibility(false)" class="close" title="Close Popup">&times;</span>
            <img class="img-circle" src="img/gifter.jpg" alt="Create New Store" class="avatar">
        </div>
        <form name="singnupForm" class="form-horizontal" method="post" action="/mallManager/createNewStore" >
            <!--onsubmit="return validationUserInput()"-->

            <div class="form-group">
                <label for="name" class="cols-sm-2 control-label" >Store Name</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="store_name" id="store_name"  placeholder="Enter your Name"required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">Store Email</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="store_manager_email" id="store_manager_email"  placeholder="Enter your Email"required/>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">store Username</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="store_manager_username" id="store_manager_username"  placeholder="Enter store Username"required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="cols-sm-2 control-label">Password</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="store_manager_password" id="store_manager_password"  placeholder="Enter your Password"required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">Store Id</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="store_id" id="store_id"  placeholder="Enter store id as given grom Manager"required/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">Store Location</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-location-arrow" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="store_location" id="store_location"  placeholder="Enter store location inside the mall"required/>
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <button type="submit" onclick="toggleAddNewGiftPopupVisibility(false);" class="btn btn-primary btn-lg btn-block login-button" >Add New Store</button>
            </div>
        </form>
    </div>
</div>

<script>
    function toggleAddNewGiftPopupVisibility(isToShowPopup) {
        var popupCreateNewStore = document.getElementById('popup_create_new_store');
        if(isToShowPopup){
            popupCreateNewStore.style.display = "block";
        }else{
            popupCreateNewStore.style.display = "none";
        }
    }

    window.onclick = function(event) {
        if (event.target == document.getElementById('popup_create_new_store')) {
            toggleAddNewGiftPopupVisibility(false);
        }
    }
</script>
