<% layout('boilerplate') %>
<h1>store info</h1>




<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <a href="/stores/storeAddGift" class="btn btn-default btn-xl sr-button">Add gift</a>
            <a href="/stores/storeDeleteGift" class="btn btn-default btn-xl sr-button">Delete gift</a>
            <br>
            <br>
            <form method="post" action="/stores/showStoreGifts" name="gifts" >
                <input type="submit" class="btn btn-default btn-xl sr-button" value="show store gifts" />
            </form>
            <br>
            <form action="/stores/importCSV" method="post">
                <div class="form-group">
                    <label>File Path</label>
                    <input type="text" class="form-control" name="path">
                </div>
                <div class="form-group">
                    <label>Store name</label>
                    <input type="text" class="form-control" name="store_name">
                </div>
                <div class="form-group">
                    <label>Store ID</label>
                    <input type="text" class="form-control" name="store_id">
                </div>
                <div>
                    <input type="submit" class="btn btn-default btn-xl sr-button" value="Import CSV File" />
                </div>
            </form>


        </div>
    </div>
</aside>

