
<div id="id02" class="modal">

    <div class="modal-content animate" >
        <div class="imgcontainer">
            <!--<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>-->
            <img src="/img/gifter.jpg" alt="Avatar" class="avatar">
        </div>
<form action='/users/login'  method="post" >
        <div class="container">
            <label><b>Email</b></label><br>
            <input type="text" placeholder="Enter Username" name="email" required><br>
            <label><b>Store ID</b></label><br>
            <input type="text" placeholder="Enter Username" name="store_id" required><br>
            <label><b>Password</b></label><br>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit" style="width: 60%">Login</button>

            <!--<input type="checkbox" checked="checked"> Remember me-->
            <br>
            <!--<a class="psw" href="#">Forgot  password?</a>-->
        </div>
</form>
        <form  style="background-color:#f1f1f1" method="get" action='/stores/storeManager-sign-up'>
            <div class="container">
                <button type="submit"style="width: 60%">Sign up</button>
            </div>
        </form>
        <!--<form  style="background-color:#f1f1f1" method="get" action='/users/signin'>-->
            <!--<div class="container">-->
                <!--<button type="submit">Sign In</button>-->
            <!--</div>-->
        <!--</form>-->
        <div class="container" style="background-color:#f1f1f1;width: 100%">
            <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
    </div>
    <!--<form class="modal-content animate" action='/users/signin'  method="post">-->
        <!--<div class="container">-->
        <!--<button type="submit">Sign In</button>-->
    <!--</div>-->
    <!--</form>-->
</div>


<!--<script>-->
    <!--// Get the modal-->
    <!--var modal1 = document.getElementById('id02');-->

    <!--// When the user clicks anywhere outside of the modal, close it-->
    <!--window.onclick = function(event) {-->
        <!--if (event.target == modal) {-->
            <!--modal.style.display = "none";-->
        <!--}-->
    <!--}-->
<!--</script>-->

