


<% layout('boilerplate') %>





<div style="margin-top:81px; text-align:center;background-color: #fafafa;">
    <h1>Create Event:</h1>
    <br>


    <!--<div style="background-color:#2e2e2e; height:9%">-->
    <form name="Form"  >
        <!--method="post" action="/wishlist/addEvent"-->
        <div class="form-group" style="width: 60%;margin-left: 18%" >
            <div id="eventDetails" class="Info">
                <h4>Enter Event Details:</h4>

                <label> Event Title: </label><br>
                <input type="text" name="eventTitle" id="eventTitle" value=""><br>
                <hr>

                <label style="margin-left: 2.5%">  Event Description: </label><br>
                <input type="text" name="eventDescription" id="eventDescription" ><br>
                <hr>

                <label>Event Date: </label><br>
                <input type="date" name="eventDate" id="eventDate" value="2017-09-04">
                <br>
                <hr>

                <label>Event Guests: </label><br>
                <input type="text" name="eventGuests" id="eventGuests" value="">
                <input type='button' value='add to list' id='add' onclick="ajaxCheckIfGuestIsRegister()" />
                <ul id='list' name="guestsList"></ul>
                <br>

            </div>
            <hr>

        </div>
        <div>
            <input class="btn btn-primary btn-xl page-scroll" type="button" value = 'show gifts that fits you' name="submit" onclick="ajaxGiftToAdd()" style="margin-right: 5%">
        </div>
        <div>
            <input onclick="ajaxSaveChanges()" class=" btn btn-primary btn-xl page-scroll" type="submit" value = 'Save Changes' name="submit" style="margin-right: 5%">
        </div>


        <!--onclick="return ValidationAppForm()"/>-->
        <section id="giftsResultSection" style="display:none;">

            <div class="col-md-8">
                <h1>left</h1>
                <div style="margin-top: 4%" class="no-padding" id="portfolio">
                    <label>Sort By: </label>
                    <select id="sort" onchange="sortResult(this)">-->
                        <option value="">Choose:</option>
                        <option value="sortByResult">best results</option>
                        <option value="sortByPrice">price</option>
                        <option value="sortByStore">store</option>
                    </select>

                    <!--<div class="container-fluid">-->
                    <div id="gifts-list" style="width:70%; margin-left: 15%;" class="row no-gutter popup-gallery col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h1>right</h1>
                <div class="row">
                    <div >
                        <!--class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3"-->
                        <ul id="list-group" name="chosenGifts" class="list-group">

                        </ul>
                    </div>
                </div>
            </div>
        </section>

    </form>


</div>
<script type="text/javascript">
    function ajaxSaveChanges()
    {
        var guestArrayData =[];
        var guestList = Array.from(document.querySelectorAll('#list>li'));

        for(var i =0; i<guestList.length; i++) {
            guestArrayData.push({email:guestList[i].textContent,id:guestList[i].getAttribute("id")});
        }

        var gifts = [];
        var giftsList = Array.from(document.querySelectorAll('#list-group>div'));
        console.log(giftsList);

        for(var j=0; j<giftsList.length; j++){
            gifts.push(giftsList[j].getAttribute("id"));
        }

        var eventTitle = document.getElementById("eventTitle").value;
        var eventDescription = document.getElementById("eventDescription").value;
        var eventDate = document.getElementById("eventDate").value;



        $.ajax({
            type: "POST",
            data: {guests:guestArrayData, gifts:gifts, eventTitle:eventTitle ,eventDescription: eventDescription, eventDate:eventDate},
            url: "/wishlist/addEvent",
            success: function(msg){

            }
        });
    }

    function ajaxGiftToAdd() {
        $.ajax({
            type: "POST",
            url: "/searchingResult/giftSearchByClient",
            success: function (data,status) {
                console.log(data);
                displayGifts(data);
            }
        })
    }

    function displayGifts(gifts) {
        // var giftsArr = gifts.toArray();
        for(var i=0; i<gifts.length; i++){
            var newDiv = document.createElement("div");
            newDiv.setAttribute("style","background-color:white;height:500px;align-items: center;");
            newDiv.setAttribute("class","col-lg-5 col-sm-5 list-group-item");
            newDiv.setAttribute("data-storeId",gifts[i].store_id);
            newDiv.setAttribute("data-price",gifts[i].price);
            newDiv.setAttribute("data-totalScore",gifts[i].tot);
            newDiv.setAttribute("name",gifts[i].name);
            newDiv.setAttribute("id",gifts[i].id);

            var newImg = document.createElement("img");
            newImg.setAttribute("style","margin: 0 auto;height:33.3%;");
            newImg.setAttribute("src",gifts[i].ImageUrl);
            newImg.setAttribute("class","img-responsive");

            var newP = document.createElement("p");
            newP.setAttribute("id",gifts[i].name);
            newP.setAttribute("name","gift");
            newP.setAttribute("style","width:70%;margin-left:15%; color: #0b0b0b");
            var nexContent = document.createTextNode(gifts[i].name +"\n"+gifts[i].price+" NIS"+"\n"+gifts[i].storeName);

            var newButton = document.createElement("button");
            newButton.setAttribute("type","button");
            newButton.setAttribute("id","b"+gifts[i].name);
            newButton.onclick = function(){addGiftToWishlist(this.id)};
            //newButton.addEventListener('click',function(){addGiftToWishlist(gifts[i].name);});
            newButton.setAttribute("style","background-color: white;color:#cf484f;width:40px; height: 40px; ");

            var newI = document.createElement("i");
            newI.setAttribute("class","fa fa-shopping-bag");
            newI.setAttribute("aria-hidden","true");
            newI.setAttribute("data-sr-id","3");
            newI.setAttribute("style","font-size:40px;margin-left:-15px;");
            newI.setAttribute("id","ib"+gifts[i].name);

            newButton.appendChild(newI);

            newP.appendChild(nexContent);
            newDiv.appendChild(newP);
            newDiv.appendChild(newImg);
            newDiv.appendChild(newButton);
            document.getElementById("gifts-list").appendChild(newDiv);

        }

        var giftsSection = document.getElementById("giftsResultSection");
        giftsSection.style.display = 'block';

    }

    function ajaxCheckIfGuestIsRegister() {
        var guestMail = document.getElementById("eventGuests").value;
        $.ajax({
            type: "GET",
            url: "/wishlist/checkIfGuestIsRegister/" +guestMail,
            success: function (id) {
                if(id!=-1){
                    addGuests(id);
                    console.log(id);
                }
                else {
                    alert(guestMail+ " isn't register");
                }
            }
        })
    }

    function addGuests(id) {//validation mail!!todo
        var node = document.createElement("Li");
        node.setAttribute("id",id.toString())
        var text = document.getElementById("eventGuests").value; //.value gets input values
        var textnode = document.createTextNode(text);
        node.appendChild(textnode);
        document.getElementById("list").appendChild(node);
        document.getElementById("eventGuests").value="";
    }

    function addGiftToWishlist(giftName) {

        var gifts = $("#gifts-list > div");
        var rightList =  document.getElementById("list-group");

        for (var i = 0; i < gifts.length; i++) {

            var elm='b'+gifts[i].getAttribute("name");
            if( elm == giftName){
                rightList.appendChild(gifts[i]);
                document.getElementById(giftName).onclick = function(){removeGiftfromWishlist(giftName)};
                document.getElementById('i'+giftName).setAttribute("class","fa fa-times");//fa fa-shopping-bag
            }

        }


    }

    function removeGiftfromWishlist(giftName) {

        var gifts = $("#list-group > div");
        var rightList =  document.getElementById("gifts-list");

        for (var i = 0; i < gifts.length; i++) {

            var elm='b'+gifts[i].getAttribute("name");
            if( elm == giftName){
                rightList.appendChild(gifts[i]);
                document.getElementById(giftName).onclick = function(){addGiftToWishlist(giftName)};
                document.getElementById('i'+giftName).setAttribute("class","fa fa-shopping-bag");//

            }

        }


    }
</script>

