<% layout('boilerplate') %>
<div class="jumbotron">
    <div class="text-center">
        <h1>WishList Info</h1>
    </div>
</div>
<div style="margin-top:81px;">

<!--<aside class="bg-dark">-->
    <section class="bg-dark">
    <div class="container text-center">
        <div class="col-sm-6">
            <div class="call-to-action">
                <a href="/wishlist/myEvents" class="btn btn-default btn-xl sr-button">My Events</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="call-to-action">

                <a href="/wishlist/myFriendsEvents" class="btn btn-default btn-xl sr-button">My Friends Events</a>
                <br>
            </div>
        </div>
    </div>
    </section>
</div>
<!--</aside>-->

